<p>
  <strong>Reference:</strong>
  <%= @wiki.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= markdown(@wiki.title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
</p>

<p>
  <strong>Private:</strong>
  <%= "Yes" if @wiki.private %>
  <%= "No" if !@wiki.private %>
</p>

<p>
  <strong>Created by user: </strong>
  <!--%= @wiki.user %-->
  <%= @wiki.user.email %>
</p>

<p>
    <strong>Collaborators: </strong>
    <%= render partial: 'collaborators/show', locals: {wiki: @wiki} %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
