<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia - Marco Lopez-Silva's project</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="pull-left"><%= link_to "Blocipedia Home", welcome_index_path %></li>
        <li class="pull-right">
            <% if user_signed_in? %>
                <p class="pull-right"> Signed in as: <strong><%= current_user.email %></strong></p>
                <p>
                    <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
                </p>
            <% else %>
                <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
        </li>
        <% end %>
      </ul>

      <p class="notice"><%= notice %></p-->
      <p class="alert"><%= alert %></p-->

      <%= yield %>
  </div>

  </body>

</html>
